/* =========== Global Styles =========== */
html {
	box-sizing: border-box;
	scroll-behavior: smooth
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #2f3061;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;

}
h1 {
	text-align: center;
	font-size: 50px;
	line-height: 1;
}
h2 {
	font-size: 40px;
	text-decoration: underline;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
	font-family: 'Caveat', cursive;
}
h1, h2 {
	margin: 0;
	font-weight: bold;
	font-family: 'Caveat', cursive;
}

a {
	color: #FFE66D;
}
a:hover {
	text-decoration: none;
}
p {
	font-size: 22px;
}
.content-wrap {
	width: 95%;
    padding: 30px 0;
	overflow: auto;
	margin: 0 auto;
}
.content-wrap-alt{
	width: 100%;
}
ul {
	font-size: 20px;
	text-align: justify;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 22px;
}

@media (min-width: 769px) {	
	.content-wrap{
		width: 90%;
		padding: 60px 0;
	}
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 45px;
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 25px;
	}
	h5 {
		font-size: 22px;
}
	ul {
		font-size: 22px;
	}
}
@media (min-width: 1080px) {	
	.content-wrap{
		width: 75%;
	}
}
/* =========== Header Section =========== */

header {
	background-color: #2F3061;
	color: #fff;
}
.contact-details {
    	text-align: center;
    	float: none;
    	margin-top: 20px;
	}
.contact-details a {
	margin: 0 5px;
}
.contact-details a:hover {
	opacity: 0.7;
}
.contact-details img {
	width: 25px;
}

@media (min-width: 769px) {	
	.contact-details {
		float: right;
	}
	.heading {
	    display: inline-block;
	    max-width: 500px;
	}
}
/* =========== Nav Section =========== */
nav {
	background-color: #2f3061;
	margin-top: 2px;
	position: sticky;
	top: 0px;
	z-index: 999;
}
nav ul {
	margin: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    text-align: center;
}
nav li {
    text-align: center;
    padding: 10px 0;
}
nav li a {
	color: #fff;
	font-weight: bold;
}
nav li a:hover {
	color: #2f3061;
}
nav a {
	text-decoration: none;
	display: block;
}

nav li {
	width: 100%;
    display: block;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 5px 0;
}
@media (min-width: 769px) {	
	nav li {
		display: inline-block;
		width: 24%;
	    padding: 10px 0;
	    border-right: 2px solid #fff;
	    border-bottom: none;
	    font-size: 20px;
	}	
	nav li:last-child {
	    border-right: none;	
	}
	nav li:hover{
		background-color: #ffe066;
		color: #2f3061;
	}
}
@media (min-width: 1080px) {
	nav li {
		font-size: 22px;
	}

}

/* =========== About/Intro Section =========== */

.intro {
	color: #2f3061;
	margin: 25px 10px;
}
.intro img {
	width: 250px;
	border: 10px solid #2f3061;
	margin: 0 auto;
	display: block;
	margin-bottom: 25px;
}
@media (min-width: 769px) {
	.intro img {
		margin-left: 20px;
		float: right;
		margin-bottom: 0;
	}
}

/* =========== Work Experience Section =========== */
.work-exp {
	background-color: #ffe066;
}
.work-exp section {
	margin: 25px 10px;
}
.work-exp h2 {
	background-color: #fff;
	text-align: center;
}
.work-exp a {
	color: #2f3061;
}
.we-heading p {
	display: inline-block;
	margin: 0;
}
.we-heading h3 {
	margin-bottom: 0;
}
@media (min-width: 769px) {	
	.work-exp h2 {
		display: inline-block;
	    padding-right: 10px;
	    padding-left: 2px;
	}
	.work-exp h5 {
		float: right;
	    margin-right: 3px;
	}
	.we-content {
		padding-right: none;
	}
}
/* =========== Skills Section =========== */

.skills-content {
	margin-top: 35px;
}

.skills h2 {
	background-color: #ffe066;
	text-align: center;
}
.skills-circle {
  width: 100%;
}
.skills-circle h3 {
	font-size: 20px;
	text-align: center;
}
.circle-wrap {
  margin: 10px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.mask .fill {
  clip: rect(0px, 100px, 150px, 0px);
  background-color: #2F3061;    
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.html .mask.full,
.circle .fill {
  animation: fill ease-in-out 10s;
  transform: rotate(135deg);
}
.node-js .mask.full,
.circle .fill {
  transform: rotate(50deg);
}
.javascript .mask.full,
.circle .fill {
  transform: rotate(135deg);
}
.wordpress .mask.full,
.circle .fill {
  transform: rotate(165deg);
}
.php .mask.full,
.circle .fill {
  transform: rotate(150deg);
}
.react-vue .mask.full,
.circle .fill {
  transform: rotate(90deg);
}
.photoshop .mask.full,
.circle .fill {
  transform: rotate(25deg);
}
.hubspot .mask.full,
.circle .fill {
  transform: rotate(160deg);
}

@media (min-width: 640px) {
	.skills-circle {
	  display: inline-block;
	  width: 49%;
	}
}
@media (min-width: 769px) {
	.skills h2 {
		display: inline-block;
	    padding-right: 10px;
	    padding-left: 2px;
	}
	.skills-content {
	margin-top: 10px;
	}
}

@media (min-width: 1080px) {
	.skills-circle {
	  width: 23%;
	}
}

/* =========== Project Section =========== */

.projects {
	background-color: #ffe066;
	color: #2F3061;
}
.projects .btn {
	color: #F7FFF7;
	text-decoration: none;
	padding: 8px;
	background-color: #2F3061;
	border-radius: 4px;
	display: inline-block;
	float: right;
	font-weight: bold;
	text-align: center;
}
.projects .btn:hover {
	background-color: rgba(47, 48, 97, 0.8);
}
.project-item {
    overflow: auto;
    margin: 25px 10px;
}
.projects h2 {
	background-color: #fff;
	text-align: center;
}
.projects h3, h4, h5 {
	margin: 0;
}
.projects h5 {
	font-family: 'Caveat', cursive;
}
.projects h4 {
	font-weight: normal;
}
.pi-content {
	margin-right: 15px;
}
@media (min-width: 769px) {
	.projects h2 {
		display: inline-block;
	    padding-right: 10px;
	    padding-left: 2px;
	}
	.project-item {
	    padding: 25px;
   		margin: 25px 0;
	}
	.pi-heading {
		float: left;
		width: 30%;
	}
	.pi-content {
	    float: right;
	    width: 65%;
	    margin-right: 0;
	}
}

/* =========== Education Section =========== */
.education-and-cert {
	background-color:  #fff;
	margin: 25px 10px;
}
.education-and-cert h2 {
	background-color: #ffe066;
	text-align: center;
}
.ec-heading p {
	display: inline-block;
	margin: 0;
}
.ec-heading h3 {
	margin-bottom: 0;
}
.ec-content p {
	margin-top: 3px;
}
@media (min-width: 769px) {
	.education-and-cert {
		margin: 25px 0;
	}	
	.education-and-cert h2 {
		display: inline-block;
	    padding-right: 10px;
	    padding-left: 2px;
	}
	.ec-heading h5 {
		float: right;
	    margin-right: 3px;
	}
}
/* =========== Footer Section =========== */

footer {
	background-color: #2F3061;
	color: #fff;
}
footer .content-wrap {
	padding: 15px 0;
}
footer h2 {
	text-align: center;
}
footer ul {
	font-size: 22px;
    text-align: center;    
    padding-inline-start: 0;
}
footer li {
	display: inline-block;
    margin: 0 15px;
}
footer a {
	text-decoration: none;
}
footer a:hover {
	opacity: 0.7;
}
footer img {
	width: 25px;
}