/* =========== Global Styles =========== */
html {
	box-sizing: border-box;
	scroll-behavior: smooth
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #2f3061;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;

}
h1 {
	text-align: center;
	font-size: 50px;
	line-height: 1;
}
h2 {
	font-size: 40px;
	text-decoration: underline;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
	font-family: 'Caveat', cursive;
}
h1, h2 {
	margin: 0;
	font-weight: bold;
	font-family: 'Caveat', cursive;
}

a {
	color: #FFE66D;
}
a:hover {
	text-decoration: none;
}
p {
	font-size: 22px;
}
.content-wrap {
	width: 90%;
  padding: 30px 0;
	overflow: auto;
	margin: 0 auto;
}
.content-wrap-alt{
	width: 100%;
}
ul {
	font-size: 20px;
	text-align: justify;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 22px;
}

@media (min-width: 769px) {	
	.content-wrap{
		padding: 60px 0;
	}
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 45px;
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 25px;
	}
	h5 {
		font-size: 22px;
}
	ul {
		font-size: 22px;
	}
}
@media (min-width: 1080px) {	
	.content-wrap{
		width: 75%;
	}
}
/* =========== Header Section =========== */

header {
	background-color: #2F3061;
	color: #fff;
}
.contact-details {
    	text-align: center;
    	float: none;
    	margin-top: 20px;
	}
.contact-details a {
	margin: 0 5px;
}
.contact-details a:hover {
	opacity: 0.7;
}
.contact-details img {
	width: 25px;
}

@media (min-width: 769px) {	
	.contact-details {
		float: right;
	}
	.heading {
	    display: inline-block;
	    max-width: 500px;
	}
}
/* =========== Nav Section =========== */
nav {
	background-color: #2f3061;
	margin-top: 2px;
	position: sticky;
	top: 0px;
	z-index: 999;
}
nav ul {
	margin: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    text-align: center;
}
nav li {
    text-align: center;
}
nav li a {
	color: #fff;
	font-weight: bold;
}
nav li a:hover {
	color: #2f3061;
}
nav a {
	text-decoration: none;
	display: block;
  padding: 6px 0;
}

nav li {
	width: 100%;
    display: block;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 5px 0;
}
@media (min-width: 769px) {	
	nav li {
		display: inline-block;
		padding: 0;
		border-right: 2px solid #fff;
		border-bottom: none;
		font-size: 20px;
	}		
	nav li:first-child {
		width: 19.5%;
		float: left;
	}		
	nav li:nth-child(2) {
		width: 20%;
		float: left;
	}		
	nav li:nth-child(3) {
		width: 20%;
		float: left;
	}		
	nav li:nth-child(4) {
		width: 20.2%;
	}
	nav li:last-child {
	    border-right: none;	
			width: 20%;
	}
	nav li:hover{
		background-color: #ffe066;
		color: #2f3061;
	}
}
@media (min-width: 1080px) {
	nav li {
		font-size: 22px;
	}

}

/* =========== About/Intro Section =========== */

.intro {
	color: #2f3061;
	margin: 25px 10px;
}
.intro img {
	width: 250px;
	border: 10px solid #2f3061;
	margin: 0 auto;
	display: block;
	margin-bottom: 25px;
}
.intro-desc ul {
	margin-right: 15px;
}
@media (min-width: 769px) {
	.intro img {
		margin-left: 50px;
		float: right;
		margin-bottom: 0;
	}
}

/* =========== Work Experience Section =========== */
.work-exp {
	background-color: #ffe066;
}
.work-exp section {
	margin: 25px 10px;
}
.work-exp h2 {
	background-color: #fff;
	text-align: center;
}
.work-exp a {
	color: #2f3061;
}
.we-heading p {
	display: inline-block;
	margin: 0;
}
.we-heading h3 {
	margin-bottom: 0;
}
.we-content {
	border-bottom: 1px solid #2f3061;
  padding-bottom: 20px;
}
.we-content:last-child {
	border-bottom: none;
}
@media (min-width: 769px) {	
	.work-exp h2 {
		display: inline-block;
		padding-right: 10px;
		padding-left: 2px;
	}
	.work-exp h5 {
		float: right;
	    margin-right: 3px;
	}
	.we-content {
		padding-right: 0;
	}
}
/* =========== Skills Section =========== */

.skills h2 {
	background-color: #ffe066;
	text-align: center;
	margin-bottom: 35px;
}
.sc-content li {
	list-style-type: none;
}
.sc-content ul {
	margin-top: 0;
}
.skills-content{
	overflow: auto;
	padding-bottom: 20px;
	margin-bottom: 15px;
  border-bottom: 1px solid #2f3061;
}
.skills-content:last-child{
	border-bottom: none;
}
.sc-content ul {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}
@media (min-width: 769px) {
	.skills h2 {
		display: inline-block;
	    padding-right: 10px;
	    padding-left: 2px;
	}
	.sc-heading {
		float: left;
		width: 30%;
	}
	.sc-content {
	    float: right;
	    width: 65%;
	    margin-right: 0;
	}
}

/* =========== Project Section =========== */

.projects {
	background-color: #ffe066;
	color: #2F3061;
}
.projects .btn {
	color: #F7FFF7;
	text-decoration: none;
	padding: 8px;
	background-color: #2F3061;
	border-radius: 4px;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	margin-left: 25px;
}
.projects .btn:hover {
	background-color: rgba(47, 48, 97, 0.8);
}
.project-item {
    overflow: auto;
    margin: 25px 10px;
		border-bottom: 1px solid #2f3061;
		padding-bottom: 20px;
}
.project-item:last-child {
	border-bottom: none;
}
.projects h2 {
	background-color: #fff;
	text-align: center;
}
.projects h3, h4, h5 {
	margin: 0;
}
.projects h5 {
	font-family: 'Caveat', cursive;
}
.projects h4 {
	font-weight: normal;
}
.pi-content {
	margin-right: 15px;
}
.pi-heading a {
	color: #2F3061;
}
	
@media (min-width: 769px) {
	.projects h2 {
		display: inline-block;
	    padding-right: 10px;
	    padding-left: 2px;
	}
	.project-item {
		padding: 25px 25px 45px 25px;
    margin: 25px 0;
	}
	.pi-heading {
		float: left;
		width: 30%;
	}
	.pi-content {
	    float: right;
	    width: 65%;
	    margin-right: 0;
	}	
	.projects .btn {
		float: right;
	}
}

/* =========== Education Section =========== */
.education-and-cert {
	background-color:  #fff;
	margin: 25px 10px;
}
.education-and-cert h2 {
	background-color: #ffe066;
	text-align: center;
}
.ec-heading p {
	display: inline-block;
	margin: 0;
}
.ec-heading h3 {
	margin-bottom: 0;
}
.ec-desc p {
	margin-top: 3px;
}
.ec-content {
	border-bottom: 1px solid #2F3061;
	padding-bottom: 10px;
}
.ec-content:last-child{
	border-bottom: none;
}
@media (min-width: 769px) {
	.education-and-cert {
		margin: 25px 0;
	}	
	.education-and-cert h2 {
		display: inline-block;
	    padding-right: 10px;
	    padding-left: 2px;
	}
	.ec-heading h5 {
		float: right;
	    margin-right: 3px;
	}
}
/* =========== Footer Section =========== */

footer {
	background-color: #2F3061;
	color: #fff;
}
footer .content-wrap {
	padding: 15px 0;
}
footer h2 {
	text-align: center;
}
footer ul {
	font-size: 22px;
    text-align: center;    
    padding-inline-start: 0;
}
footer li {
	display: inline-block;
    margin: 0 15px;
}
footer a {
	text-decoration: none;
}
footer a:hover {
	opacity: 0.7;
}
footer img {
	width: 25px;
}